#headbg {
     position: absolute;
     width: 1100px;
     height: 250px;
     top: 20px;
     left: 20px;
     background: -webkit-linear-gradient(70deg, grey, black);
     background: -moz-linear-gradient(70deg, grey, black);
     background: -o-linear-gradient(70deg, grey, black);
     background: linear-gradient(70deg, grey, black);
     color: white;
}

#location {
     width: 140px;
     float: left;
     display: inline-block;
     background: url(icons/location.png) right center no-repeat;
}

#phoneNumber {
     width: 147px;
     float: left;
     display: inline-block;
     padding-left: 10px;
     background: url(icons/phone.png) right center no-repeat;
}

#email {
     width: 215px;
     float: left;
     display: inline-block;
     padding-left: 15px;
     background: url(icons/email.png) right center no-repeat;
}

#linkedin {
     width: 85px;
     float: left;
     display: inline-block;
     background: url(icons/linkedIn.png) right center no-repeat;
     -webkit-transition: font-size 0.3s ease;
}

#github {
     width: 75px;
     float: left;
     display: inline-block;
     padding-left: 15px;
     background: url(icons/github.png) right center no-repeat;
     -webkit-transition: font-size 0.3s ease;
}

#picture {
     position: absolute;
     top: 55px;
     left: 50px;
}

#name {
     position: absolute;
     top: 25px;
     left: 260px;
     color: white;
     font-size: 30px;
     font-weight: normal;
     font-family: sans-serif;
}

#intro {
     position: absolute;
     top: 70px;
     left: 260px;
     width: 840px;
     font-family: sans-serif;
     text-align: justify;
     color: white;
}

.sectionTitles{
     font-weight: bold;
     font-size: 18px;
     padding-left: 30px;
}

#lineed {
     position: absolute;
     width: 2px;
     height: 190px;
     top: 347px;
     left: 74px;
     background-color: rgb(212, 212, 212);
}

#Education {
     position: absolute;
     top: 290px;
     left: 7px;
     width: 1000px;
     font-family: sans-serif;
     color: black
}

#lineproj {
     position: absolute;
     width: 2px;
     height: 180px;
     top: 680px;
     left: 74px;
     background-color: rgb(212, 212, 212);
}

#Projets {
     position: absolute;
     top: 620px;
     left: 7px;
     width: 1000px;
     font-family: sans-serif;
     color: black
}

#lineexp {
     position: absolute;
     width: 2px;
     height: 210px;
     top: 1050px;
     left: 74px;
     background-color: rgb(212, 212, 212);
}

#Exp {
     position: absolute;
     top: 990px;
     left: 7px;
     width: 1000px;
     font-family: sans-serif;
     color: black
}

#Competence {
     position: absolute;
     top: 1360px;
     left: 7px;
     width: 1000px;
     font-family: sans-serif;
     color: black;
}

#prog {
     position: absolute;
     top: inherit;
     left: 40px;
     width: 370px;
     font-family: sans-serif;
     color: black;
}

#langues {
     position: absolute;
     top: inherit;
     left: 400px;
     width: 370px;
     font-family: sans-serif;
     color: black;
}

#hobbies {
     position: absolute;
     top: inherit;
     left: 800px;
     width: 370px;
     font-family: sans-serif;
     color: black;
}

p{
     margin: 15px;
}

img.idpic {
     width: 180px;
     height: 180px;
     border-radius: 50%;
}

p.competence{
     font-weight: bold;
}

li.competence {
     padding-bottom: 10px;
     list-style: circle;
     margin-left: 40px;
}

li span {
     position: relative;
     left: 25px;
}

ul.mainlist {
     list-style-image: url(bullet.png);
     margin: 10px 80px;
}

ul.mainlist li li {
     list-style: circle;
     margin-left: 40px;
     margin-top: 5px;
}

a:link {
     color: white;
}

a:visited {
     color: purple;
}

a:hover {
     color: cyan;
     font-size: 18px;
}
