#intro {
     position: relative;
     margin: 10px 25px;
     width: 1020px;
     height: 270px;
     font-family: sans-serif;
     text-align: justify;
     color: white;
}

#headbg {
     position: absolute;
     width: inherit;
     height: 250px;
     background: -webkit-linear-gradient(70deg, grey, black);
     background: -moz-linear-gradient(70deg, grey, black);
     background: -o-linear-gradient(70deg, grey, black);
     background: linear-gradient(70deg, grey, black);
}

#picture {
     position: absolute;
     top: 35px;
     left: 30px;
}

#name {
     color: white;
     font-size: 30px;
     font-family: "Helvetica", sans-serif;
}

#info{
     position: absolute;
     left: 230px;
     top:10px;
}

#location {
     width: 140px;
     float: left;
     background: url(icons/location.png) right center no-repeat;
}

#phoneNumber {
     width: 147px;
     float: left;
     padding-left: 10px;
     background: url(icons/phone.png) right center no-repeat;
}

#clearing{
     clear: both;
}

#email {
     width: 220px;
     float: left;
     padding-left: 15px;
     background: url(icons/email.png) right center no-repeat;
     transition: font-size 0.2s ease;
     -webkit-transition: font-size 0.2s ease;
     -moz-transition: font-size 0.2s ease;
     -o-transition: font-size 0.2s ease;
}

#linkedin {
     width: 90px;
     float: left;
     background: url(icons/linkedIn.png) right center no-repeat;
     transition: font-size 0.2s ease;
     -webkit-transition: font-size 0.2s ease;
     -moz-transition: font-size 0.2s ease;
     -o-transition: font-size 0.2s ease;
}

#github {
     width: 75px;
     float: left;
     padding-left: 15px;
     background: url(icons/github.png) right center no-repeat;
     transition: font-size 0.2s ease;
     -moz-transition: font-size 0.2s ease;
     -o-transition: font-size 0.2s ease;
     -webkit-transition: font-size 0.2s ease;
}

#lineed {
     position: absolute;
     width: 2px;
     height: 360px;
     top: 40px;
     left: 67px;
     background-color: rgb(212, 212, 212);
}

#Education {
     position: relative;
     margin-bottom: 20px;
     left: 7px;
     width: 1000px;
     font-family: sans-serif;
     color: black
}

#lineexp {
     position: absolute;
     width: 2px;
     height: 315px;
     top: 40px;
     left: 67px;
     background-color: rgb(212, 212, 212);
}

#Exp {
     position: relative;
     margin-bottom: 20px;
     left: 7px;
     width: 1000px;
     font-family: sans-serif;
     color: black
}

#lineproj {
     position: absolute;
     width: 2px;
     height: 375px;
     top: 40px;
     left: 67px;
     background-color: rgb(212, 212, 212);
}

#Projets {
     position: relative;
     margin-bottom: 20px;
     left: 7px;
     width: 1020px;
     font-family: sans-serif;
     color: black
}

#Competence {
     position: relative;
     left: 7px;
     width: 1000px;
     font-family: sans-serif;
     color: black;
}

#prog {
     position: absolute;
     top: inherit;
     left: 40px;
     width: 370px;
     font-family: sans-serif;
     color: black;
}

#langues {
     position: absolute;
     top: inherit;
     left: 400px;
     width: 370px;
     font-family: sans-serif;
     color: black;
}

#langues li {
     padding: 10px;
}

#hobbies {
     position: absolute;
     top: inherit;
     left: 740px;
     width: 370px;
     font-family: sans-serif;
     color: black;
}

#hobbies span {
     padding: 30px;
}

p {
     margin: 15px;
}

img.idpic {
     width: 180px;
     height: 180px;
     border-radius: 50%;
}

.sectionTitles {
     font-weight: bold;
     font-size: 18px;
     font-family: monospace;
     padding-left: 30px;
     color: rgb(94, 94, 94);
}

.subTitle {
     font-weight: 550;
}

.sublist span {
     font-style: oblique;
}

p.competence {
     font-weight: bold;
}

li.competence {
     list-style: circle;
     padding-bottom: 10px;
     margin-left: 40px;
}

ul.mainlist {
     list-style-image: url(bullet.png);
     margin: 10px 80px;
}

.mainlist li {
     padding-left: 20px;
     padding-bottom: 15px;
}

.mainlist li li {
     list-style: circle;
     margin-left: 40px;
     padding: 0px 5px;
}

.sublist {
     padding-top: 7px;
}

a:link {
     color: white;
}

a:visited {
     color: purple;
}

a:hover {
     color: rgb(104, 214, 165);
     font-size: 18px;
}
